.dota-duos-home-container {
  background: url('https://res.cloudinary.com/dqsacxogt/image/upload/v1594723616/Dota/DOTA_2_Storm_Spirit_Musical_Instruments_Clouds_583822_1920x1080_kjvcim.jpg');
  background-repeat: no-repeat;
  background-size: 1350px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.play-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_button {
  width: 150px;
  height: 50px;
}
