@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.navbar {
  height: 8vh;
  background-color: #01031e;
  display: flex;
  align-items: center;
}

.signin-signup-button {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  font-family: 'Cinzel', serif !important;
}

.user-profile-button {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.trids-button {
  margin-left: 10px !important;
}
