@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.navbar {
  height: 8vh;
  background-color: #01031e;
}

.signin-signup-button {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  font-family: 'Cinzel', serif !important;
}
